
.contact-form {
  padding: 180px 0 100px 0;
  background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
  background-size: cover;
  color: white;
  text-align: center;
  background-color: #ddd;
}

.contact-submit {
  background-color:#dee7ec;
  color:#889eab;
}

input, textarea {
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}

.contact-submit:hover{
opacity: 5;
}

h3{
  font-size: 50px;
}